<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Mindstretch_ConfigDutch>
            <version>2.0.0</version>
        </Mindstretch_ConfigDutch>
    </modules>
    <global>
        <resources>
            <config_dutch_setup>
                <setup>
                    <module>Mindstretch_ConfigDutch</module>
                    <class>Mindstretch_ConfigDutch_Model_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </config_dutch_setup>
            <config_dutch_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </config_dutch_write>
            <config_dutch_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </config_dutch_read>
        </resources>
    </global>
    <default>
        <config_dutch>
            <default>
				<shop_name><![CDATA[Webwinkel Naam]]></shop_name>
				<meta_description><![CDATA[Vervang deze tekst door een eigen omschrijving.]]></meta_description>
				<meta_keywords><![CDATA[Magento]]></meta_keywords>
				<meta_robots><![CDATA[INDEX,FOLLOW]]></meta_robots>
				<welcome_msg><![CDATA[Hartelijk welkom]]></welcome_msg>
				<copyright><![CDATA[Magento webwinkel door <A HREF="http://www.magento-company.nl" target="_blank">Magento Company</A>]]></copyright>
				<contact_name><![CDATA[Magento Demo Store B.V.]]></contact_name>
				<contact_email><![CDATA[info@magentodemostore.com]]></contact_email>
				<contact_sales_name><![CDATA[Sales]]></contact_sales_name>
				<contact_sales_email><![CDATA[sales@magentodemostore.com]]></contact_sales_email>
	            <contact_support_name><![CDATA[Customer Support]]></contact_support_name>
	            <contact_support_email><![CDATA[support@magentodemostore.com]]></contact_support_email>
	            <contact_custom1_name><![CDATA[Extra e-mailadres 1]]></contact_custom1_name>
	            <contact_custom1_email><![CDATA[extra1@magentodemostore.com]]></contact_custom1_email>
	            <contact_custom2_name><![CDATA[Extra e-mailadres 2]]></contact_custom2_name>
	            <contact_custom2_email><![CDATA[extra2@magentodemostore.com]]></contact_custom2_email>
	            <contact_recipient><![CDATA[ontvanger@magentodemostore.com]]></contact_recipient>
	            <email_domain><![CDATA[magentodemostore.com]]></email_domain>
	            <prefix_options><![CDATA[De heer;Mevrouw]]></prefix_options>
	            <invoice_address><![CDATA[Magento Demo Store B.V.
T.a.v. de heer Jan Jansen
Hoofdstraat 1
1234 AB  Plaatsnaam
Nederland]]></invoice_address>
	            <city><![CDATA[Nederland]]></city>
            </default>
        </config_dutch>
    </default>
</config>