<?xml version="1.0"?>
<!--
/**
 * RocketWeb
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   RocketWeb
 * @package    RocketWeb_ProductVideo
 * @copyright  Copyright (c) 2011 RocketWeb (http://rocketweb.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @author     RocketWeb
 */
-->
<config>
    <modules>
        <RocketWeb_ProductVideo>
            <version>2.0.2</version>
        </RocketWeb_ProductVideo>
    </modules>

    <global>
    	<models>
            <productvideo>
				<class>RocketWeb_ProductVideo_Model</class>
                <resourceModel>productvideo_resource</resourceModel>
			</productvideo>
            <productvideo_resource>
                <class>RocketWeb_ProductVideo_Model_Resource</class>
                <entities>
                    <videos>
                        <table>rw_youtube_videos</table>
                    </videos>
                </entities>
            </productvideo_resource>
    	</models>
    	
        <resources>
            <productvideo_setup>
             	<setup>
                    <module>RocketWeb_ProductVideo</module>
					<class>RocketWeb_ProductVideo_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productvideo_setup>
            <productvideo_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productvideo_write>
            <productvideo_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productvideo_read>
        </resources>
        
        <helpers>
			<productvideo>
				<class>RocketWeb_ProductVideo_Helper</class>
			</productvideo>
        </helpers>
        
        <blocks>
            <productvideo>
            	<class>RocketWeb_ProductVideo_Block</class>
            </productvideo>
            
            <catalog>
            	<rewrite>
            		<product_view_media>RocketWeb_ProductVideo_Block_Product_View_Media</product_view_media>
            	</rewrite>
            </catalog>
            <adminhtml>
				<rewrite>
					<catalog_product_edit_tabs>RocketWeb_ProductVideo_Block_Rewrite_AdminhtmlCatalogProductEditTabs</catalog_product_edit_tabs>
				</rewrite>
			</adminhtml>
        </blocks>
        
        <events>
			<catalog_product_save_after>
				<observers>
					<productvideo>
						<type>singleton</type>
						<class>productvideo/observer</class>
						<method>catalog_product_save_after</method>
					</productvideo>
				</observers>
			</catalog_product_save_after>
        </events>
    </global>
    
    <frontend>
        <translate>
            <modules>
                <RocketWeb_ProductVideo>
                    <files>
                        <default>RocketWeb_ProductVideo.csv</default>
                    </files>
                </RocketWeb_ProductVideo>
            </modules>
        </translate>
        <layout>
			<updates>
				<productvideo>
					<file>rwproductvideo.xml</file>
				</productvideo>
			</updates>
		</layout>
    </frontend>
    
    <admin>
        <routers>
            <productvideo_admin>
                <use>admin</use>
                    <args>
                        <module>RocketWeb_ProductVideo</module>
                        <frontName>productvideo</frontName>
                    </args>
            </productvideo_admin>
        </routers>
    </admin>
    
    <adminhtml>
		<layout>
            <updates>
                <productvideo>
					<file>rwproductvideo.xml</file>
				</productvideo>
			</updates>
		</layout>
	</adminhtml>
    
    <default>
    	<rocketweb_productvideo>
        	<settings>
				<default_thumb_width>185</default_thumb_width>
				<default_thumb_height>150</default_thumb_height>
				<default_width>680</default_width>
				<default_height>495</default_height>
				<default_host>1</default_host>
                <tinybox>1</tinybox>
				<overlay_opacity><![CDATA[30]]></overlay_opacity>
				<show_close_button>1</show_close_button>
        	</settings>
        </rocketweb_productvideo>
    </default>
</config>