<?xml version="1.0"?>
<config>
	<tabs>
        <rocketweb_tab>
            <label>Rocket Web Extensions</label>
            <sort_order>1005001</sort_order>
        </rocketweb_tab>
    </tabs>
    <sections>
        <rocketweb_productvideo translate="label" module="productvideo">
        	<label>Product Video</label>
            <tab>rocketweb_tab</tab>
            <frontend_type>text</frontend_type>
            <sort_order>200</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <settings translate="label">
                	<comment><![CDATA[For more info about fancybox please visit <a target="_blank" href="http://www.scriptiny.com/2011/03/javascript-modal-windows/">tinybox website</a><br /><br />]]></comment>
                    <label>Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <default_thumb_width translate="label">
                            <label>Default Thumbnail Width</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
		                    <show_in_default>1</show_in_default>
		                    <show_in_website>1</show_in_website>
		                    <show_in_store>1</show_in_store>
                        </default_thumb_width>
                        <default_thumb_height translate="label">
                            <label>Default Thumbnail Height</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
		                    <show_in_default>1</show_in_default>
		                    <show_in_website>1</show_in_website>
		                    <show_in_store>1</show_in_store>
                        </default_thumb_height>
                        <default_width translate="label">
                            <label>Default Width</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
		                    <show_in_default>1</show_in_default>
		                    <show_in_website>1</show_in_website>
		                    <show_in_store>1</show_in_store>
                        </default_width>
                        <default_height translate="label">
                            <label>Default Height</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
		                    <show_in_default>1</show_in_default>
		                    <show_in_website>1</show_in_website>
		                    <show_in_store>1</show_in_store>
                        </default_height>
                        <tinybox_config>
							<label>Tinybox Options</label>
							<sort_order>45</sort_order>
							<frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</tinybox_config>
                        <tinybox translate="label comment">
                            <label>Tinybox Script Enabled</label>
                            <comment><![CDATA[]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>47</sort_order>
		                    <show_in_default>1</show_in_default>
		                    <show_in_website>1</show_in_website>
		                    <show_in_store>1</show_in_store>
                        </tinybox>
                        <overlay_opacity translate="label comment">
                        	<comment><![CDATA[Opacity of the overlay (from 0 to 100; default - 30)]]></comment>
                            <label>Overlay Opacity</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>160</sort_order>
		                    <show_in_default>1</show_in_default>
		                    <show_in_website>1</show_in_website>
		                    <show_in_store>1</show_in_store>
                        </overlay_opacity>
                    </fields>
                </settings>
            </groups>
        </rocketweb_productvideo>
    </sections>
</config>