#product-videos h3 { font-size:11px; border-bottom:1px solid #ccc; margin:0 0 8px; text-transform:uppercase; }
#product-videos ul { margin-left:-9px }
#product-videos li { float:left; padding:0 0 8px 9px; }
#product-videos li a { float:left; border:2px solid #ddd; overflow:hidden; }